body {
  background-color: white;
  font-family: "Dosis", sans-serif;
}

.titulo h1,
h3 {
  color: blue;
  text-align: right;
  margin-right: 90px;
}
.logo {
  height: 200px;
  width: 300px;
}

.container {
  margin: auto;
  background-color: #56b32d;
  border-radius: 25px;
  width: 800px;
  padding: 30px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 1.5s;
  background: #56b32d;
  color: black;
  margin-left: 20px;
  border-radius: 20px;
}

ul.slider li img {
  width: 80%;
  height: 300px;
  border-radius: 25px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  object-fit: cover;
}

ul.slider li:first-child {
  opacity: 0; /*Mostramos el primer <li>*/
}

ul.slider li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
  text-align: center;
  margin: 10px;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #23a3e1;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
  margin-top: 15px;
}
/*Barra menu*/
#contenedorBarra {
  margin: auto;
  width: 500px;
  font-family: "Dosis", sans-serif;
}
.barra li {
  text-align: center;
  background-color: #23a3e1;
  color: white;
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
ul,
ol {
  list-style: none;
}
.barra > li {
  float: left;
}
.barra li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
.barra li:hover > ul {
  display: block;
}
/*Pie de Pagina*/
